@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #302e2b;
} 

.title {
  font-family: roboto;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.squareRow {
  display: flex;
}

.square {
  width: 75px;
  height: 75px;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}

.highlightYellow {
  background: #f0f07b;
}

#reset-board{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-family: roboto;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  text-align: center;
}

#reset-board:hover {
  background-color: #015ec2;
}


.piece {
  width: 100%;
  cursor: pointer;
}

.captureColor {
  background-color: #ee2b2b;
}

.highlight {
  width: 32px;
  display: block;
  height: 32px;
  margin: auto;
  margin-top: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.17);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.blur{
  filter: blur(15px);
}

.modal p{
  font-family: roboto;
  font-size: 40px;
  padding: 4px 8px;
  background-color: red;
  color: white;
}

.modal img{
  box-sizing: border-box;
  border: 5px solid transparent;
  width: 24%;
}

.modal img:hover{
  border: 5px solid yellow;
  cursor: pointer;
}
